---
import Layout from '../layouts/Layout.astro'

---

<Layout title="React Projects">
    <h1>
        These are some random React projects I'm making.
    </h1>
    <section>
        <a href="./UserCards"></a>
    </section>
</Layout>
